* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    
}

img {
    display: block;
    max-width: 100%;
}


.width {
    max-width: 800px;
    margin: 0 auto;
    width: 92%;
}

h1{
    text-align: center;
    color: #fff;
}

h2{
    font-size: 2rem;
    margin-bottom: 1rem; 
}

img{
    max-width: 50%;
    display: block;
}

input[type = "text"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance : none;
    -o-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    display: block;
    width: 100%;
}   

 header a {
    text-decoration: none;
    color: #fff;
}

//header// 
.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;


    .width{
        position: relative;
    }

    .header h1 {
        font-size: 2.5rem;
        text-decoration: none;
    }

    svg{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        cursor: pointer;
    }
    
}


.home-search {
    padding: 40px 0;
    text-align: center;

    h2{
        font-size: 32px;
        margin-bottom: 20px;
    }
    
  input {
    border: 1px solid #333;
    padding: 0 24px;
    border-radius: 8px;
    line-height: 54px;
  }  
}

.home-cryptos{

   h2{
    font-size: 64px;
    text-align: center;
    margin-bottom: 60px;
    max-width: 600px;
    margin: 0 auto;
    width: 92%;
    padding: 40px 0 60px;
   }

}
    
.home-cryptos-list {
    border-top: 1px solid #333;
}

.home-crypto {
    a {
        display: flex;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid #333;
    }

    span {
        display: block;
    }

    .home-crypto-image {
        width: 250px; // Adjust the size as needed
        display: block;
    }

    .home-crypto-details {
        display: flex;
        flex-direction: column;
    }

    
    
}



.home-crypto-name {
    flex: 1;
    font-size: 24px;
    color: #333;
    font-weight: 600;
}

.home-crypto-btc {
    font-size: 22px;
    color: #333;
    font-weight: 600;

    img {
        width: 20px;
        display: inline-block;
        margin: -3px 5px 0 0;
        vertical-align: middle;
    }
}

.home-crypto-usd {
    font-size: 14px;
    color: #333;
}


.show-header {
    padding: 40px 0;
    text-align: center;


    img {
        width:80px;
        border-radius: 50%;
        margin: 0 auto;
    }

    h2{
        font-size:32px;
        margin-top:10px;
    }
}
.show-graph {
    height: 200px;
    width: 100%;
} 

.show-details{
    padding-top:50px;
    padding-bottom: 60px;


    h2{
        font-size: 28px;
        margin-bottom: 20px;
        text-align:center;
        margin-bottom: 20px;
    }
}

.show-details-row {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;

    h3{
        font-size:16px;
        color:#111;
    }
}